* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
}
html,
body {
  height: 100%;
  width: 100%;
}
button{
  padding: 10px 16px;
  background-color: lightblue;
  color: black;
  border-radius: 10px;
  margin: 10px;
  font: 1.25rem;
}
h1{
  font-size: 32px;
}