* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
}
html,
body {
  height: 100%;
  width: 100%;
}

button{
  background-color: rgb(122, 122, 165);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 24px;
  color: #fff;
  margin: 10px;
  
  }

  .user-card{
    height: 300px;
    width: 300px;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .cards{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }